[Unit]
Description=LumoNAS management daemon
After=network-online.target docker.service lumonas-privd.service lumonas-privd-storage.service lumonas-privd-network.service lumonas-privd-power.service lumonas-privd-general.service
Wants=network-online.target
Requires=lumonas-privd.service lumonas-privd-storage.service lumonas-privd-network.service lumonas-privd-power.service lumonas-privd-general.service
PartOf=lumonas-jobs.target

[Service]
Type=simple
EnvironmentFile=-/etc/lumonas/lumonasd.env
EnvironmentFile=-/var/lib/lumonas/secrets/first-boot.env
ExecStart=/usr/lib/lumonas/lumonasd
StandardOutput=journal
StandardError=journal
SyslogIdentifier=lumonasd
User=lumonas
Group=lumonas
Restart=on-failure
RestartSec=3s
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/var/lib/lumonas /srv/lumonas
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictSUIDSGID=true
LockPersonality=true
MemoryDenyWriteExecute=true
MemoryMax=512M
CPUQuota=200%
TasksMax=256
TimeoutStopSec=15s
UMask=027

[Install]
WantedBy=multi-user.target
